{% extends "index.html" %}
{% load staticfiles %}

{% block head %}
    <style>
    .bground{
        background: lightgray;
        color: black;
    }
    @media screen and (max-width:500px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
         
        }
      }
      @media screen and (max-width:770px){
        .visible{
          width: 40% !important;
          margin: 2px !important;
        }
      }
      
    </style>
{% endblock %}
{% block mycode %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto" style="box-shadow:0px 0px 20px black;margin-left:10%;margin-right:15%;background:cornsilk;">
                <div class="row" style="background:#D2691E;height:30px;color:white;">
                    <span style="margin-left:20px;">Marital Status</span>
                </div>
                <div class="row" style="margin-top:10px;">
                <div class="col-md-6" >
                <div class='row' style="padding:15px;">
                    <div class='col-md-6 bground visible'>
                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                         <span>Status</span>
                    </div><div class='col-md-6 visible'>
                        <span id="#">{{details.marital_status}}</span>
                    </div>
                </div>
            </div> 
            <div class="col-md-6" >
                    <div class='row' style="padding:15px;">
                        <div class='col-md-6 bground visible'>
                             <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                              <span>Spouse Working</span>
                        </div><div class='col-md-6 visible'>
                              <span id="#">{{details.spouse_working}}</span>
                        </div>
                </div>
                </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                 <span>Children</span>
                            </div><div class='col-md-6 visible'>
                                 <span id="#">{{details.children}}</span>
                            </div>
                         </div>
                     </div>  
                    <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Child Study</span>
                                </div><div class='col-md-6 visible'>
                                     <span id="#">{{details.child_study}}</span>
                                </div>
                            </div>
                        </div>  
                        
                </div>
                <div class="row" style="background:#D2691E;height:30px;color:white;margin-top:15px;">
                    <div class="col-md-12">
                        <span >Parental Status</span>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                        <div class="col-md-6" >
                                <div class='row' style="padding:15px;">
                                    <div class='col-md-6 bground visible'>
                                        <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                        <span>Father</span>
                                    </div><div class='col-md-6 visible'>
                                        <span id="#">{{details.father}}</span>
                                    </div>
                                </div>
                            </div>  
                <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span id="#">Service</span>
                            </div><div class='col-md-6 visible'>
                                <span>{{details.father_job}}</span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Mother</span>
                                </div><div class='col-md-6 visible'>
                                    <span id="#">{{details.mother}}</span>
                                </div>
                            </div>
                        </div>  
                <div class="col-md-6" >
                           <div class='row' style="padding:15px;">
                               <div class='col-md-6 bground visible'>
                                  <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                  <span style="font-size:15px">Service</span>
                              </div><div class='col-md-6 visible'>
                                  <span id="#">{{details.mother_job}}</span>
                              </div>
                          </div>
                      </div>  
                      <div class="col-md-6" >
                        <div class='row' style="padding:15px;">
                            <div class='col-md-6 bground visible'>
                                <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                <span>Siblings</span>
                            </div><div class='col-md-6 visible'>
                                <span id="#">{{details.sibling}}</span>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-6" >
                            <div class='row' style="padding:15px;">
                                <div class='col-md-6 bground visible'>
                                    <i class="far fa-circle ml-1" style="color:red;font-size:10px;margin-bottom:15px"></i>
                                    <span>Total income</span>
                                </div><div class='col-md-6 visible'>
                                    <span id="#">{{details.income}}</span>
                                </div>
                            </div>
                        </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}