{% extends "hr.html" %}
{% load staticfiles %}
{% block mycode %}
<style>
td,th{
    width:80%;
    /* height:50px; */
}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="background:#D2691E;border:2px solid #D2691E;margin-left:20%;margin-right:20%;margin-top:20px;box-shadow:0px 0px 10px black;">
                <h4>Leave Assignment</h4>
                {% if status %}
                    <p class="alert alert-warning">{{status}}</p>
                {% endif %}
            <form action="" method="post">
                {% csrf_token%}
               <div style="background:cornsilk;">
                <table border=1>
                    <tr>
                        <th>Leave Type</th>
                        <th>Number of days</th>
                        <th>Valid Until</th>
                    </tr>
                    <tr>
                        <td>CL</td>
                        <td><input type="text" name="CL"></td>
                        <td><input type="date" name="cdate" value='{{date|date:"Y/m/d"}}'></td>
                    </tr>
                    <tr>
                        <td>PL</td>
                        <td><input type="text" name="PL"></td>
                        <td><input type="date" name="pdate"></td>
                    </tr>
                    <tr>
                        <td>C-off</td>
                        <td><input type="text" name="Coff"></td>
                        <td><input type="date" name="coffdate"></td>
                    </tr>
                    <tr>
                        <td>RH</td>
                        <td><input type="text" name="RH"></td>
                        <td><input type="date" name="rhdate"></td>
                    </tr>
                    
                </table>
               </div>
               <input type="submit" class="btn btn-info" value="Submit" style="margin-top:15px;margin-bottom:10px;">
            </form>
        </div>
    </div>
</div>
{% endblock %}