{% block mycode %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <script src="{% static 'jqueryFile.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'animate/css/animations.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:200i|Libre+Baskerville|Zilla+Slab' rel="stylesheet">

    <style>
           .inp{
             width:80%;
             margin-left: 10px;  
            }
            .bg{
                background:#D2691E;
            }
            .text{
                font-size:30px;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-left:20px;
            }
            .text2{
                font-size:40px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                margin-left:20px;
            }

            @media screen and (max-width:1000px){
             .text{
                 font-size:15px !important;


             }   
            }
            @media screen and (max-width:1200px){
             .text{
                 font-size:20px !important;


             }  
            }
            @media screen and (max-width:500px){
             .text{
                 font-size:20px !important;
                margin-top: 20px !important;
                margin-bottom: 10px !important;

             }  }
             @media screen and (max-width:900px){
             .text{
                 font-size:15px !important;

             }  }
             @media screen and (max-width:900px){
             .bn{
                 text-align: left !important;
                margin-left: 20px !important;
                background-size: 50% !important;
                width: 30% !important;
                margin: 2px;    
             }  }
             @media screen and (max-width:1200px){
             .bn{
                 text-align: left !important;
                margin-left: 100px ;
                
             }  }
             @media screen and (max-width:900px){
             .part{
               margin-right: 40px !important;
               margin-left: 20px !important;
                
             }  }
             @media screen and (max-width:500px){
             .txt{
              margin-top:5px !important;
               margin-left: 10px !important;
                
             }  }
             body{
                background-image:url('{% static "images/body-bg.jpg" %}');
             }
            </style>

</head>
{% if status %}
<script>    
    alert('{{status}}');
    window.location='/'
</script>
{% else %}
<body style="background-size:cover;">
    <div class="container-fluid hide ">
        <div class="row">

            <!-- <div class="col-md-12"> -->
                    <div class=" col-md-12  mt-3 mb-3">
                            <p class="text-light think text" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; opacity:0;margin-left:300px;font-size:30px;text-shadow:0px 0px 20px #D2691E; "><marquee behavior="slide" direction="">If you think you can do it, you can do it!!!</marquee></p>
                        </div>

                </div>
    <!-- <div class="row"  style="background: rgba(0,0,0,0.5);"> -->
    <div class="row bg">
           
            <div class="col-md-3 btn bn text-light">
                <span id="signin">Login</span>
            </div>
            <div class="col-md-3 btn bn text-light">
                <span id="signup">Signup</span>
                
            </div>
            
    </div>
                <!--**************signup part ***************-->

<div class="row animatedParent part" data-sequence="1000" style="margin-left:100px;">

<div class=" col-md-5 mb-5 signuppart animated bounceIn" data-id="1" style="display:none; box-shadow:0px 0px 15px white;">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row" >
                <div  class="col-md-12 bg" style="width:100%; border:1px solid black;color:#fff;    ">
                    <label for="">Account Information</label>
                
                </div>
                </div>
                <div class="row">
                <div class="col-md-12" style="border:1px solid black;border-top:none;color:#fff;background:rgba(0,0,0,0.3); ">
                        <div class="">
                                <label style="font-size:15px;">First Name</label>
                                <input type="text" name="fname" class="form-control inp" required >
                                
                                </div>
                                <div class="">
                                        <label style="font-size:15px;">Last Name</label>
                                        <input type="text" name="lname" class="form-control inp" required >
                                        
                                        </div>
                    <div class="">
                        <label style="font-size:15px;">Username</label>
                        <!-- <label for="" id='message'></label> -->
                        <small class='' id='msz'></small>
                        <input type="text" name="uname" class="form-control inp" id='uname' onchange="checkUser()" required >
                        
                        </div>
                    <!-- <div class="">
                        <label style="font-size:15px;">Email</label>
                    <input type="Email" name="email" class="form-control inp" required >
                
                    </div> -->
                    <div class="">
                            <label style="font-size:15px;">  Password:</label> 
                            <input type="password" name="pass" required class="form-control inp" id="inp">
                            
                        </div>
                        <div class="mb-2">
                                <label style="font-size:15px;">Conform Password:</label> 
                                <input type="password" name="confirm" required class="form-control inp" id='inp2'  onkeyup="myFun()">
                            </div>
                
                
                </div>
                </div>
                <div class="row">
                    <div  class="col-md-12 bg" style="width:100%; border:1px solid black;border-top:none;color:white;">
                        <label for="">Personal Information</label>
                        
                        
                    </div>
                </div>
                
                <div class="row pt-3 pb-3">
                    <!-- <div class="col-md-12" style="border:1px solid black;border-top:none;color:#fff;background:rgba(0,0,0,0.5); "> -->
                       <div class="col-md-4 txt" style="display:inline-block;">
                        <input type="hidden" id='hcon' name="country">    
                        <select id="country" class="form-control" onchange="getstate()">
                                    <option value="">--Select country--</option>
                
                                </select>
                           
                       </div>
                       <div class="col-md-4 txt" style="display:inline-block;">
                            <input type="hidden" id='hstate' name="state">  
                            <select id="state" class="form-control" onchange="getcity()">
                                    <option value="">--Select State--</option>
                
                                </select>
                
                       </div>
                       <div class="col-md-4 txt" style="display:inline-block;">
                        
   
                        <select id="city" class="form-control" name="city">
                                    <option value="">--Select City--</option>
                
                                </select>
                       </div>
                    </div>
                       <div class="row">
                        <div class=" col-md-6 mt-4 txt mb-3" style="color:white;display:inline-block;">
                            <label>Phone Number :</label>  <input type="number" id="pn" name="phone" class="form-control inp" min="1000000000" max="99999999999" required>
                          </div>
                          <div class="col-md-6 txt mb-3 mt-4" style="color:white;">
                           <label>Upload Profile :</label>
                               <input type="file" name="image">
                           </div>
                       </div>
                       
                <!-- </div> -->
                
                <div class="row">
                    <div class="col-md-12 bg" style="border:1px solid black;color:white;">
                        <label class="" name="code" style="font-size:15px;">Verification code</label>
                    </div>
                </div>
                
                
                
                <div class="row">
                    <div class="col-md-12" style="border:1px solid black;border-top:none;color:#fff;background:rgba(0,0,0,0.5); ">
                        <div class="txt">
                            <label for="" class="ml-5 text-primary">Captcha Code</label>
                            
                            <input type="text" id="vcode" class="m-3" disabled>
                
                
                            <script> 
                            let num= Math.round(Math.random()*10000);
                            $('#vcode').val(num);
                            </script>
                
                
                    </div>
                    
                    <div class="form-group">
                            <label for="" >Enter Captcha :</label><br>
                            <small class='msz text-danger'></small>
                            <input type="text" class="form-control inp" id='verify'>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12 bg" style="border:1px solid black;border-top:none;color:white;">
                            <label class="">Do you Agree</label>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12" style="border:1px solid black;border-top:none;color:#fff;background:rgba(0,0,0,0.5); ">
                                <div class="">
                                    <input type="checkbox" id="checkbox"required>
                                    I have read and aggree to the employee portal Term of service and ploicy.
                                    And to receive important communications from Employee Portal electronically.
                                </div>
                                <input type='submit' name='SignUp' class="btn btn-info mb-3  mr-5" style="margin-left:100px;" id='submit' value='Sign Up'/>
                                <input type="reset" class="btn btn-info mb-3  mt-3" style="margin-left:150px;" value="Reset">
                            </div>
                        </div>        
                
</form>
</div>
</div>
<!--************* Check Username************* -->
<script>
        $(function(){
            $('#uname').keyup(function(){
                un = $(this).val();
                $.ajax({
                    url:'{% url "myApp:check_user"%}',
                    type:'get',
                    data:{uname:un},
                    success:function(data){
                        if(data=="Username Validation Success!!!"){
                            $("#submit").removeAttr('disabled');
                            $('#msz').removeClass('text-danger').addClass('text-success').html(data);
                        }else{
                            $("#submit").attr('disabled','disabled');
                            $('#msz').removeClass('text-success').addClass('text-danger').html(data);
    
    
                        }
                       
                    }
                })
            });
        });
        </script>
<!-- ************Login Part************ -->

<div class="row loginpart part animatedParent" data-sequence="1000" style="margin-left:100px;">
<div class="col-md-6 pb-5 pl-5 pr-5 animation animated flipInY" data-id="2" style="border-radius:10px; opacity:0;margin-top:150px;color:#fff;background:rgba(0,0,0,0.5); box-shadow:0px 0px 15px white;">
    {% if status1 %}
    <p class="alert alert-danger">{{status1}}</p>
    {% endif %}
    <form action="" method='post'>
        {% csrf_token %}
       
        <div class="row"  style="margin-top:30px;">
            <div class="col-md-4">
            
                    <div class="text"> Username</div>
                    <!-- <div class="text">password</div> -->
                    
        </div>
        <div class="col-md-8">
        <div class="form-group">
            
                <input id="user" name="username"type="text"  class="form-control" required>
            
            </div>
        </div>
        <div class="col-md-4">
                <div class="text">Password</div> 
        </div>
        <div class="col-md-8">
                    <div class="form-group input-group">
                <input id="passid" name="password" type="password" class="form-control pass" required>
                <span class="input-group-text">
                        <i class='fas fa-eye icon'></i>
                    </span>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="form-group">
                <input id="check" type="checkbox" name="remember" class="check" checked class="form-control">
                <label for="check"><span class="icon"></span> Keep me Signed in</label>
            
            </div>
    
            
    </div>
    
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group">
<input type='submit' class="btn bg btn-block btn-sm mx-auto" style="border-radius:50px;width:200px;height:50px;color:white;" value='Sign In' name='SignIn'/>
</div></div>
</form>
<div class="mx-auto ml-5">
    <a href="#forgetid" target="_self" id="forget">Forgot Password?</a>
</div>
</div>
</div>

</div>
</div> 
</div>
        
<script>
            function myFun(){
            let v=document.getElementById('inp').value;
            let v1 = document.getElementById('inp2').value;
                if(v==v1){
                    $('#inp').css({"border":"1px solid green"});
                    $('#inp2').css({"border":"1px solid green"});
                    $('#submit').removeAttr('disabled')
            }
                else{
                    $('#inp').css({"border":"1px solid red"});
                    $('#inp2').css({"border":"1px solid red"});
                    $('#submit').attr('disabled','disabled')
            }
        };
   
   
</script>
<!-- ******************** Forget Password page ******************-->


<div class="container forgetpart" id="forgetid" style="display:none;">
        <div class="row p-3 mt-5" >
            <div class="col-md-6 mx-auto" style="background:rgba(0,0,0,0.6);box-shadow: 0px 0px 10px white; border-radius: 20px; height:50%;">

                <div class="row mt-4 " style="text-align:center;">
                    <div class="col-md-12">
                        <h1 class="text-light text2">Forgot Password</h1>
                    </div>
                </div> 
                <label for="" id="mszs"></label>
                <form action="" method="POST">  
                    {% csrf_token %}     
                <div class="form-group mx-auto mt-3">
                                <label class="text-light">Enter your Username: </label>
                                <input type="text" class="form-control" style="width:100%;" id="usname" name="usname"
                           </div>
                    
                           
                   <div class="paa" style="display:none;">
                    <span class="text-light">Enter new Password: </span>
                    <div class="form-group input-group mx-auto mt-3" >       
                        <input type="hidden" id="matchotp" name="motp">
                       <input type="password" class="form-control pass" id="pass" name="npass" onkeyup="check()">
                       <span class="input-group-text">
                           <i class='fas fa-eye icon'></i>
                       </span>
                    </div>
                   
                    <span class="text-light">Enter Confirm Password: </span>
                    <div class="form-group input-group mx-auto mt-3" >       

                       <input type="password" class="form-control pass" id="passw" onkeyup="check()">
                       <span class="input-group-text">
                           <i class='fas fa-eye icon'></i>
                       </span>
                    </div>
                   </div>

            <div class="" id="opt" style="display:none">
                <input type="hidden" id="saveOTP">
                <span class="text-light">Enter OTP:</span>
                <input type="text" name="mtp" id="userOTP" onkeyup="checkotp()">

            </div>
                
                           
        <div class="row">
            <div class="col-md-4">
                    <div class="form-group mt-2 mb-4 " style="text-align:center;">
                        <input type="submit" class="btn mx-auto" name="forgot" value="Match OTP" style="background:#D2691E;width:100px;color:white;display:none;" id="conform">
                        <input type="submit" class="btn mx-auto" value="verify OTP" style="background:#D2691E;width:100px;color:white;display:none;" id="vBtn">
                        </div>
                        
                            
            </div>
            <div class="col-md-4">
                <div class="form-group mt-2 mb-4 " style="text-align:center;">
                        <input type="submit" class="btn mx-auto" value="Confirm" id="change" name="forgot" style="background:#D2691E;width:100px;color:white;">
                    </div>
                    
                        
        </div>
        </div>
    </form>

            </div>
        </div>
    </div>


<!-- **************Send OTP***************** -->
<script>
$('#usname').keyup(function(){
    let us = $('#usname').val();
    $.ajax({
        url:"{% url 'myApp:forgotpassword'%}",
        type:'get',
        data:{username:us},
        success:function(data){
            let msz = data.split('@')[0];
            let ot = data.split('@')[1];
            $('#saveOTP').val(ot);
            $('#opt').show(50);
            $('#mszs').html(msz).addClass('text-light');
        }
    })
})
function checkotp(){
        let userOTP = $('#userOTP').val();
        let genOTP = $('#saveOTP').val();
        if(userOTP==genOTP){
            $('#msz').html('Verification Completed!!');
            $('.paa').show(50);
            $('#signup').removeAttr('disabled');
        }else{
            $('.paa').hide(50);
            $('#msz').html('Verification Failed!!').removeClass('alert-info').addClass('alert-danger');
            $('#signup').attr('disabled','disabled');
        }
    }
</script>

    <!--*********** Password hide code *********8-->
    
    <script>
        $(function(){
            $('.icon').click(function(){
                if($('.pass').attr('type')=='password'){
                    $('.pass').attr('type','text');
                    $(this).attr('class','fas fa-eye-slash');
                }
                else{
                    $('.pass').attr('type','password');
                    $(this).attr('class','fas fa-eye');
                }
    
            });
        });
    
        $(function(){
            $('#conform').click(function(){
                $('#opt').show();
            });
    
        });
        </script>
    
<script>
function check(){
    pw  = $('#pass').val();
    cpw  = $('#passw').val();
    if(pw==cpw){
        $('#pass').css('border','1px solid green');
        $('#passw').css('border','1px solid green');
        $('#change').removeAttr('disabled');
    }else{
        $('#pass').css('border','1px solid red');
        $('#passw').css('border','1px solid red');
        $('#change').attr('disabled','disabled');
    }
}
</script>
</script>

    <script>
     $(function(){
        $('#bt').click(function(){
            // $('#ipt').show();
            $('#spin').html('<div class="spinner-border text-light spinner-border-sm"></div>')
            setTimeout(function(){
                $('.paa').fadeIn(1000);
                $('.spinner-border').hide();
            },2000);
        });
        // $('#ipt').click(function(){
        //     $('.paa').hide();
        //     $(this).hide();
        // });
    });
    </script>








<script>
    $(function(){
    $('.animation , .text').animate({
        'margin-top':'0',
        'opacity':'1',
    },2000)
    // $('.bg-light').fadeTo(2000,0.5);
    
// $('.animation').slideDown(2000);

});

$(function abc(){
    $('.think').animate({
        'margin-left':'0',
        'opacity':'1',
    },8000,function(){
        $(this).animate({
        'margin-left':'300px',
        'opacity':'1',
            
        },8000,function(){
            abc();
        });
        });
    });
    

$(function(){
    $('#signup').click(function(){
        $('.signuppart').show();
        window.scrollBy(0, 1);
        $('.loginpart').hide();

});
});    
$(function(){
    $('#signin').click(function(){
       
        $('.signuppart').hide();  
        $('.loginpart').show();
        window.scrollBy(0, 10);
       

});
});   
</script>

<!--***************** VERIFICATION ********************-->

<script>
$('#verify').keyup(function(){
    let u= $('#vcode').val();
    let c= $(this).val();
    if(u==c){
        $('.msz').html('<i class="fas fa-check"></i> Verification success');
        $('#submit').removeAttr('disabled')
    }else{
        $('.msz').html('<i class="fas fa-times"></i> Verification Failed');
        $('#submit').attr('disabled','disabled')
    }
});

//****** Address **********
//*************************
$(function(){
        $.ajax({
            url:'http://stsmentor.com/locationapi/locationApi.php?type=getCountries',
            type:'get',
            success:function(data){
                let c='';
                data.result.forEach(element => {
                    for (i in element){
                        c+='<option value="'+i+'" name="'+element[i]+'">'+element[i]+'</option>';

                    }
                });
                $('#country').html(c);
            }

        });
    });
function getstate(){
    let cont_id= $('#country').val()
    var aa = $('#country').find(":selected").text();
    $('#hcon').val(aa);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getStates&countryId='+cont_id,
        type:'get',
        success:function(data){
            let st='';
            data.result.forEach(kv =>{
                for(k in kv){
                    st+='<option value="'+k+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }

            });
            $('#state').html(st);
        }
    });
}
function getcity(){
    let state_id=$('#state').val()
    var st = $('#state').find(":selected").text();
    $('#hstate').val(st);
    $.ajax({
        url:'http://stsmentor.com/locationapi/locationApi.php?type=getCities&stateId='+state_id,
        type:'get',
        success:function(data){
            let ct='';
            data.result.forEach(kv =>{
                for(k in kv){
                    ct+='<option value="'+kv[k]+'" name="'+kv[k]+'">'+kv[k]+'</option>'
                }
            });
            $('#city').html(ct);
        }

    });
}

$(function(){
    $('#forget').click(function(){
        $('.forgetpart').show();
        $('.hide').hide();

});
});    

</script>
<!-- CHECK USER -->
<script>
function checkUser(){
    let user = $('#uname').val();
    $.ajax({
        url:'{% url "myApp:check_user"%}',
        data:{name:user},
        type:'get',
        success:function(data){
          
                $('#message').html(data);
            
        }
    })

}
</script>
 <script src="{% static 'animate/js/animate.js'%}"></script>
 <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>
    
</body>
{%endif%}
</html>
{% endblock %}